
backendFiles/__pycache__/*
__pycache__/*
.venv/*
.DS_Store
__pycache__/app.cpython-312.pyc
backendFiles/__pycache__/Authenticator.cpython-312.pyc
backendFiles/__pycache__/LoginException.cpython-312.pyc
backendFiles/__pycache__/User.cpython-312.pyc
