<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <h1>Your Cart</h1>
        <hr>

        <ul class="list-group">
          {% for item in cart_items %}
          <li class="list-group-item">
              <h5>{{ item.name }} - ${{ item.price }}</h5>
              <p>{{ item.description }}</p>
          </li>
          {% else %}
          <li class="list-group-item">Your cart is empty.</li>
          {% endfor %}
        </ul>

        <div class="mt-4">
            <a href="/" class="btn btn-primary">Back to Menu</a>
        </div>
    </div>
</body>
</html>
