<!DOCTYPE html>
{% extends "base_customer.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<h1>Your Shopping Cart</h1>

<div class="container-fluid">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% if item._itemType == "fuel" %}
            <tr>
                <td>{{ item._itemName }}</td>
                <td>${{ item._price }}</td>
                <td>
                    <form action="{{ url_for('update_quantity') }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ item._itemID }}">
                        <input type="number" name="quantity" value="{{ item._quantity }}" step="0.01" min="1">
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </form>
                </td>
                <td>${{ item._price * item._quantity|round(2) }}</td>
                <td>
                    <form action="{{ url_for('remove_item') }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ item._itemID }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ item._itemName }}</td>
                <td>${{ item._price }}</td>
                <td>
                    <form action="{{ url_for('update_quantity') }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ item._itemID }}">
                        <input type="number" name="quantity" value="{{ item._quantity|round(0) }}" step="1" min="1">
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </form>
                </td>
                <td>${{ item._price * item._quantity }}</td>
                <td>
                    <form action="{{ url_for('remove_item') }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ item._itemID }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<! -- add hyperling to store page? -- >
<p><a href="/">Continue Shopping</a></p>
{% endblock %}
