<!DOCTYPE html>
<html lang="en">
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        li {text-align: center; }

        .wrapper{
            text-align: center;
        }
        .button{
            bottom: 50%;
            height: 40px;
            width: 90px;
            border-radius: 12px;
            background-color: #f44336;
            color: white;
            text-decoration: none;
            display: inline-block;
            margin: 20px 0px;
            cursor: pointer;
        }
    </style>
  <head>
  </head>
  <body>
    <main>
        <h1>UTR</h1>  
        <hr>
        <h2>Orders: </h2>
        <li>example item 1</li>
        <li>example item 2</li>
        <li>example item 3</li>
        <li>example item 4</li>
        <div class="wrapper">
            <button class="button">Pay Now</button>
        </div>
        <hr>
    </main>
  </body>
</html>