{% extends 'base_manager.html' %}
{% block title %}Delete: {{ store.name }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>Delete: {{ store.name }}</h1>
        <p>Are you sure you want to delete the store?</p>

        <form action="{{ url_for('storeDelete', store_id=store.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{{ url_for('storesDisplay') }}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
{% endblock %}